html, body {
    height : 100%;
}
#map {
    height : 100%;
}
#map .ui-header {
    height : 40px;
}
#mapa .ui-content {
    position : absolute;
    top      : 40px;
    right    : 0;
    bottom   : 30px;
    left     : 0;
}
#map .ui-footer {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    height   : 30px;
}

	
#mensagem {
width: 100%;
position: relative;
background: rgb(212, 233, 212);
}
	
#textoaenviar {
position: relative;
width: 300px;
background:rgb(219, 219, 255);
}	
	
#btnenviar {
position: absolute;
bottom: 15px;
right: 0;
width: 80px;
background: white;
}

#popupBasic {
}
